[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"e1839a8" = {path = ".", editable = true}
requests = "==2.20.0"

[dev-packages]
pytest = ">=2.8.0"

[requires]
python_version = "3.10"
