gunicorn>=20.0.0; python_version >= '3.5'
# Numpy 1.23.0 no longer builds from source
# on RHEL 7 with old GCC
numpy<1.23.0; python_version >= '3.6' and python_version < '3.11'

# numpy 1.23.5 is the first one with wheels for Python 3.11
numpy>1.23.5; python_version >= "3.11"